In [1]:
# Import dependencies
import pandas as pd
import numpy as np
from pathlib import Path
pd.set_option('max_colwidth', 400)

### Extract the olympic_athletes.xlsm Data

In [2]:
# Store filepaths into variables 
olympic_athletes_to_load = Path("olympic_athletes.csv")

# Read Olympic Hosts Data File and store into a Pandas DataFrame
athlete_data = pd.read_csv(olympic_athletes_to_load)
athlete_data.head(10)

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio
0,https://olympics.com/en/athletes/cooper-woods-topalovic,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0,NaN,NaN
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995.0,NaN,NaN
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993.0,NaN,NaN
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995.0,NaN,NaN
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989.0,NaN,NaN
5,https://olympics.com/en/athletes/matt-graham,Matt GRAHAM,3,Sochi 2014,1994.0,\n\n\n1\n\nS\n\n,NaN
6,https://olympics.com/en/athletes/ikuma-horishima,Ikuma HORISHIMA,2,PyeongChang 2018,1997.0,\n\n\n1\n\nB\n\n,NaN
7,https://olympics.com/en/athletes/daichi-hara,Daichi HARA,2,PyeongChang 2018,1997.0,\n\n\n1\n\nB\n\n,NaN
8,https://olympics.com/en/athletes/laurent-dumais,Laurent DUMAIS,1,Beijing 2022,1996.0,NaN,NaN
9,https://olympics.com/en/athletes/james-matheson,James MATHESON,2,PyeongChang 2018,1995.0,NaN,NaN

In [3]:
# Get a brief summary of the athlete_data DataFrame.
athlete_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75904 entries, 0 to 75903
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   athlete_url           75904 non-null  object
 1   athlete_full_name     75904 non-null  object
 2   games_participations  75904 non-null  int64
 3   first_game            75882 non-null  object
 4   athlete_year_birth    73448 non-null  float64
 5   athlete_medals        15352 non-null  object
 6   bio                   22842 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 4.1+ MB

In [5]:
# Assign the athlete_full_name values to first_name and last_name columns. 
athlete_data[['first_name', 'last_name']] = athlete_data ["athlete_full_name"].str.split(' ', n=1, expand=True)
athlete_data.head()

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio,first_name,last_name
0,https://olympics.com/en/athletes/cooper-woods-topalovic,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0,NaN,NaN,Cooper,WOODS-TOPALOVIC
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995.0,NaN,NaN,Felix,ELOFSSON
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993.0,NaN,NaN,Dylan,WALCZYK
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995.0,NaN,NaN,Olli,PENTTALA
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989.0,NaN,NaN,Dmitriy,REIKHERD

In [6]:
# Convert last names to lower case
athlete_data['last_name'] = athlete_data['last_name'].str.lower()
athlete_data.head()

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio,first_name,last_name
0,https://olympics.com/en/athletes/cooper-woods-topalovic,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0,NaN,NaN,Cooper,woods-topalovic
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995.0,NaN,NaN,Felix,elofsson
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993.0,NaN,NaN,Dylan,walczyk
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995.0,NaN,NaN,Olli,penttala
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989.0,NaN,NaN,Dmitriy,reikherd

In [7]:
# Capitalize the first letter of each last name 
athlete_data['last_name'] = athlete_data['last_name'].apply(lambda x: x.capitalize())
athlete_data.head()

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio,first_name,last_name
0,https://olympics.com/en/athletes/cooper-woods-topalovic,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0,NaN,NaN,Cooper,Woods-topalovic
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995.0,NaN,NaN,Felix,Elofsson
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993.0,NaN,NaN,Dylan,Walczyk
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995.0,NaN,NaN,Olli,Penttala
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989.0,NaN,NaN,Dmitriy,Reikherd

In [8]:
# Use RegEx to fix the last_names column format
import re

# Create function to capitalize first letter of hyphenated or multi-word last names
def capitalize_last_name(last_name):
    # Split last names based on hyphens or spaces
    parts = re.split(r'-|\s', last_name)
    # Capitalize the first letter of each part
    capitalized_parts = [part.capitalize() for part in parts]
    # Join the parts back together with hyphens
    capitalized_last_name = '-'.join(capitalized_parts)
    return capitalized_last_name

# Apply the custom function to capitalize last names
athlete_data['last_name'] = athlete_data['last_name'].apply(capitalize_last_name)

# Print the first few rows to verify the result
athlete_data.head(60)

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio,first_name,last_name
0,https://olympics.com/en/athletes/cooper-woods-topalovic,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0,NaN,NaN,Cooper,Woods-Topalovic
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995.0,NaN,NaN,Felix,Elofsson
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993.0,NaN,NaN,Dylan,Walczyk
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995.0,NaN,NaN,Olli,Penttala
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989.0,NaN,NaN,Dmitriy,Reikherd
5,https://olympics.com/en/athletes/matt-graham,Matt GRAHAM,3,Sochi 2014,1994.0,\n\n\n1\n\nS\n\n,NaN,Matt,Graham
6,https://olympics.com/en/athletes/ikuma-horishima,Ikuma HORISHIMA,2,PyeongChang 2018,1997.0,\n\n\n1\n\nB\n\n,NaN,Ikuma,Horishima
7,https://olympics.com/en/athletes/daichi-hara,Daichi HARA,2,PyeongChang 2018,1997.0,\n\n\n1\n\nB\n\n,NaN,Daichi,Hara
8,https://olympics.com/en/athletes/laurent-dumais,Laurent DUMAIS,1,Beijing 2022,1996.0,NaN,NaN,Laurent,Dumais
9,https://olympics.com/en/athletes/james-matheson,James MATHESON,2,PyeongChang 2018,1995.0,NaN,NaN,James,Matheson
10,https://olympics.com/en/athletes/pavel-kolmakov,Pavel KOLMAKOV,3,Sochi 2014,1996.0,NaN,NaN,Pavel,Kolmakov
11,https://olympics.com/en/athletes/kosuke-sugimoto,Kosuke SUGIMOTO,1,Beijing 2022,1994.0,NaN,NaN,Kosuke,Sugimoto
12,https://olympics.com/en/athletes/brodie-summers,Brodie SUMMERS,3,Sochi 2014,1993.0,NaN,NaN,Brodie,Summers
13,https://olympics.com/en/athletes/severi-vierela,Severi VIERELA,1,Beijing 2022,2001.0,NaN,NaN,Severi,Vierela
14,https://olympics.com/en/athletes/marco-tade,Marco TADE,1,Beijing 2022,1995.0,NaN,NaN,Marco,Tade
15,https://olympics.com/en/athletes/william-feneley,William FENELEY,1,Beijing 2022,1999.0,NaN,NaN,William,Feneley
16,https://olympics.com/en/athletes/mikael-kingsbury,Mikael KINGSBURY,3,Sochi 2014,1992.0,\n\n\n1\n\nG\n\n\n\n2\n\nS\n\n,"\n\n\nIn the period between his elite debut in 2010 and 2018, Canadian moguls specialist Mikael Kingsbury set a host of records in the World Cup, winning the overall title seven times in a row and scoring 49 wins and 73 podium finishes in 90 starts. He then capped it all by fulfilling his dream of winning Olympic gold at PyeongChang 2018\n\n\nA LOCAL SPECIALITYLearning to ski on the slopes of ...",Mikael,Kingsbury
17,https://olympics.com/en/athletes/so-matsuda,So MATSUDA,1,Beijing 2022,1999.0,NaN,NaN,So,Matsuda
18,https://olympics.com/en/athletes/wallberg,Walter WALLBERG,2,PyeongChang 2018,2000.0,\n\n\n1\n\nG\n\n,NaN,Walter,Wallberg
19,https://olympics.com/en/athletes/bradley-wilson,Bradley WILSON,3,Sochi 2014,1992.0,NaN,NaN,Bradley,Wilson
20,https://olympics.com/en/athletes/yang-zhao,Yang ZHAO,1,Beijing 2022,1992.0,NaN,NaN,Yang,Zhao
21,https://olympics.com/en/athletes/benjamin-cavet,Benjamin CAVET,3,Sochi 2014,1994.0,NaN,NaN,Benjamin,Cavet
22,https://olympics.com/en/athletes/cole-mcdonald,Cole MCDONALD,1,Beijing 2022,2003.0,NaN,NaN,Cole,Mcdonald
23,https://olympics.com/en/athletes/nick-page,Nick PAGE,1,Beijing 2022,2002.0,NaN,NaN,Nick,Page
24,https://olympics.com/en/athletes/sacha-theocharis,Sacha THEOCHARIS,2,PyeongChang 2018,1990.0,NaN,NaN,Sacha,Theocharis
25,https://olympics.com/en/athletes/jimi-salonen,Jimi SALONEN,3,Sochi 2014,1994.0,NaN,NaN,Jimi,Salonen
26,https://olympics.com/en/athletes/nikita-novitskii,Nikita NOVITSKII,1,Beijing 2022,2000.0,NaN,NaN,Nikita,Novitskii
27,https://olympics.com/en/athletes/nikita-andreev,Nikita ANDREEV,1,Beijing 2022,2004.0,NaN,NaN,Nikita,Andreev
28,https://olympics.com/en/athletes/ludvig-fjallstrom,Ludvig FJALLSTROM,3,Sochi 2014,1993.0,NaN,NaN,Ludvig,Fjallstrom
29,https://olympics.com/en/athletes/oskar-elofsson,Oskar ELOFSSON,1,Beijing 2022,1998.0,NaN,NaN,Oskar,Elofsson
30,https://olympics.com/en/athletes/bingqiang-mao,Bingqiang MAO,2,PyeongChang 2018,2001.0,NaN,NaN,Bingqiang,Mao
31,https://olympics.com/en/athletes/kevin-rolland,Kevin ROLLAND,3,Sochi 2014,1989.0,\n\n\n1\n\nB\n\n,NaN,Kevin,Rolland
32,https://olympics.com/en/athletes/noah-bowman,Noah BOWMAN,3,Sochi 2014,1992.0,NaN,NaN,Noah,Bowman
33,https://olympics.com/en/athletes/robin-briguet,Robin BRIGUET,2,PyeongChang 2018,1999.0,NaN,NaN,Robin,Briguet
34,https://olympics.com/en/athletes/nico-porteous,Nico PORTEOUS,2,PyeongChang 2018,2001.0,\n\n\n1\n\nG\n\n\n\n1\n\nB\n\n,NaN,Nico,Porteous
35,https://olympics.com/en/athletes/seung-hun-lee,Seung Hun LEE,1,Beijing 2022,2005.0,NaN,NaN,Seung,Hun-Lee
36,https://olympics.com/en/athletes/david-wise,David WISE,3,Sochi 2014,1990.0,\n\n\n2\n\nG\n\n\n\n1\n\nS\n\n,"\n\n\nThe favourite heading into the inaugural Olympic ski halfpipe competition at Sochi 2014, David Wise did not disappoint, producing a sublime run in heavy snow to take his place in Winter Games history. Four years later in PyeongChang, at the age of 27, the US skier repeated the trick thanks to a stunning third run, remaining the eventâ€™s only Olympic champion.\n\n\nJump start\n\n\nDavid Wi...",David,Wise
37,https://olympics.com/en/athletes/aaron-blunck,Aaron BLUNCK,3,Sochi 2014,1996.0,NaN,NaN,Aaron,Blunck
38,https://olympics.com/en/athletes/brendan-mackay,Brendan MACKAY,1,Beijing 2022,1997.0,NaN,NaN,Brendan,Mackay
39,https://olympics.com/en/athletes/ben-harrington,Ben HARRINGTON,1,Beijing 2022,2001.0,NaN,NaN,Ben,Harrington
40,https://olympics.com/en/athletes/sun-jingbo,Jingbo SUN,1,Beijing 2022,2003.0,NaN,NaN,Jingbo,Sun
41,https://olympics.com/en/athletes/alex-ferreira,Alex FERREIRA,2,PyeongChang 2018,1994.0,\n\n\n1\n\nS\n\n\n\n1\n\nB\n\n,NaN,Alex,Ferreira
42,https://olympics.com/en/athletes/miguel-porteous,Miguel PORTEOUS,2,PyeongChang 2018,1999.0,NaN,NaN,Miguel,Porteous
43,https://olympics.com/en/athletes/brendan-newby,Brendan NEWBY,2,PyeongChang 2018,1996.0,NaN,NaN,Brendan,Newby
44,https://olympics.com/en/athletes/gus-kenworthy,Gus KENWORTHY,3,Sochi 2014,1991.0,\n\n\n1\n\nS\n\n,"\n\n\nAFP World Championships overall titles in 2011, 2012, and 2013 meant big things were expected of Gus Kenworthy at the Sochi 2014 Winter Olympics. And he was certainly the centre of attention at the event, though perhaps not for all the reasons he may have previously expected.\n\n\nOn the snow, his silver medal was part of an historic American sweep of the men's freeski slopestyle podium....",Gus,Kenworthy
45,https://olympics.com/en/athletes/gustav-legnavsky,Gustav LEGNAVSKY,1,Beijing 2022,2005.0,NaN,NaN,Gustav,Legnavsky
46,https://olympics.com/en/athletes/haizhuo-wang,Haizhuo WANG,1,Beijing 2022,2003.0,NaN,NaN,Haizhuo,Wang
47,https://olympics.com/en/athletes/marco-ladner,Marco LADNER,3,Sochi 2014,1998.0,NaN,NaN,Marco,Ladner
48,https://olympics.com/en/athletes/binghan-he,Binghan HE,1,Beijing 2022,2003.0,NaN,NaN,Binghan,He
49,https://olympics.com/en/athletes/birk-irving,Birk IRVING,1,Beijing 2022,1999.0,NaN,NaN,Birk,Irving
50,https://olympics.com/en/athletes/simon-d-artois,Simon D ARTOIS,1,Beijing 2022,1992.0,NaN,NaN,Simon,D-Artois
51,https://olympics.com/en/athletes/rafael-kreienbuehl,Rafael KREIENBUEHL,2,PyeongChang 2018,1999.0,NaN,NaN,Rafael,Kreienbuehl
52,https://olympics.com/en/athletes/jon-sallinen,Jon SALLINEN,1,Beijing 2022,2000.0,NaN,NaN,Jon,Sallinen
53,https://olympics.com/en/athletes/edouard-therriault,Edouard THERRIAULT,1,Beijing 2022,2003.0,NaN,NaN,Edouard,Therriault
54,https://olympics.com/en/athletes/matej-svancer,Matej SVANCER,1,Beijing 2022,2004.0,NaN,NaN,Matej,Svancer
55,https://olympics.com/en/athletes/teal-harle,Teal HARLE,2,PyeongChang 2018,1996.0,NaN,NaN,Teal,Harle
56,https://olympics.com/en/athletes/colin-wili,Colin WILI,1,Beijing 2022,1998.0,NaN,NaN,Colin,Wili
57,https://olympics.com/en/athletes/hugo-burvall,Hugo BURVALL,1,Beijing 2022,1997.0,NaN,NaN,Hugo,Burvall
58,https://olympics.com/en/athletes/leonardo-donaggio,Leonardo DONAGGIO,1,Beijing 2022,2003.0,NaN,NaN,Leonardo,Donaggio
59,https://olympics.com/en/athletes/birk-ruud,Birk RUUD,1,Beijing 2022,2000.0,\n\n\n1\n\nG\n\n,NaN,Birk,Ruud

In [9]:
# Fill missing values in athlete_year_birth column with a placeholder (-1)
athlete_data['athlete_year_birth'] = athlete_data['athlete_year_birth'].fillna(-1)

# Convert the athlete_year_birth column to integer type
athlete_data['athlete_year_birth'] = athlete_data['athlete_year_birth'].astype(int)

# Print the first few rows to verify the result
athlete_data.head()

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio,first_name,last_name
0,https://olympics.com/en/athletes/cooper-woods-topalovic,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000,NaN,NaN,Cooper,Woods-Topalovic
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995,NaN,NaN,Felix,Elofsson
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993,NaN,NaN,Dylan,Walczyk
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995,NaN,NaN,Olli,Penttala
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989,NaN,NaN,Dmitriy,Reikherd

In [10]:
# Get the athlete_data columns for visibility
athlete_data.columns

Index(['athlete_url', 'athlete_full_name', 'games_participations',
       'first_game', 'athlete_year_birth', 'athlete_medals', 'bio',
       'first_name', 'last_name'],
      dtype='object')

In [11]:
# Drop unwanted columns  
athlete_cleaned = athlete_data.drop(['athlete_full_name', 'bio'], axis=1)
athlete_cleaned.head()

,athlete_url,games_participations,first_game,athlete_year_birth,athlete_medals,first_name,last_name
0,https://olympics.com/en/athletes/cooper-woods-topalovic,1,Beijing 2022,2000,NaN,Cooper,Woods-Topalovic
1,https://olympics.com/en/athletes/elofsson,2,PyeongChang 2018,1995,NaN,Felix,Elofsson
2,https://olympics.com/en/athletes/dylan-walczyk,1,Beijing 2022,1993,NaN,Dylan,Walczyk
3,https://olympics.com/en/athletes/olli-penttala,1,Beijing 2022,1995,NaN,Olli,Penttala
4,https://olympics.com/en/athletes/reikherd,1,Beijing 2022,1989,NaN,Dmitriy,Reikherd

In [12]:
# Reorder the columns
athlete_cleaned = athlete_cleaned[['athlete_url', 'first_name', 'last_name', 'games_participations', 
                                   'athlete_medals', 'first_game', 'athlete_year_birth'
                                  ]]
athlete_cleaned.head()

,athlete_url,first_name,last_name,games_participations,athlete_medals,first_game,athlete_year_birth
0,https://olympics.com/en/athletes/cooper-woods-topalovic,Cooper,Woods-Topalovic,1,NaN,Beijing 2022,2000
1,https://olympics.com/en/athletes/elofsson,Felix,Elofsson,2,NaN,PyeongChang 2018,1995
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan,Walczyk,1,NaN,Beijing 2022,1993
3,https://olympics.com/en/athletes/olli-penttala,Olli,Penttala,1,NaN,Beijing 2022,1995
4,https://olympics.com/en/athletes/reikherd,Dmitriy,Reikherd,1,NaN,Beijing 2022,1989

In [13]:
# Rename columns
athlete_cleaned.rename(columns={'first_game': 'first_olympics',
                                'athlete_medals': 'medals_won',
                                'athlete_year_birth': 'athlete_YOB'}, inplace=True)
athlete_cleaned.head(10)

,athlete_url,first_name,last_name,games_participations,medals_won,first_olympics,athlete_YOB
0,https://olympics.com/en/athletes/cooper-woods-topalovic,Cooper,Woods-Topalovic,1,NaN,Beijing 2022,2000
1,https://olympics.com/en/athletes/elofsson,Felix,Elofsson,2,NaN,PyeongChang 2018,1995
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan,Walczyk,1,NaN,Beijing 2022,1993
3,https://olympics.com/en/athletes/olli-penttala,Olli,Penttala,1,NaN,Beijing 2022,1995
4,https://olympics.com/en/athletes/reikherd,Dmitriy,Reikherd,1,NaN,Beijing 2022,1989
5,https://olympics.com/en/athletes/matt-graham,Matt,Graham,3,\n\n\n1\n\nS\n\n,Sochi 2014,1994
6,https://olympics.com/en/athletes/ikuma-horishima,Ikuma,Horishima,2,\n\n\n1\n\nB\n\n,PyeongChang 2018,1997
7,https://olympics.com/en/athletes/daichi-hara,Daichi,Hara,2,\n\n\n1\n\nB\n\n,PyeongChang 2018,1997
8,https://olympics.com/en/athletes/laurent-dumais,Laurent,Dumais,1,NaN,Beijing 2022,1996
9,https://olympics.com/en/athletes/james-matheson,James,Matheson,2,NaN,PyeongChang 2018,1995

In [14]:
# Use RegEx to fix the medals_won column
# Sample data
athlete_cleaned['medals_won'] = athlete_cleaned['medals_won'].replace(r'\n', '', regex=True)

# Define regular expressions to extract counts of gold, silver, and bronze medals
gold_pattern = re.compile(r'(\d+)G', re.IGNORECASE)
silver_pattern = re.compile(r'(\d+)S', re.IGNORECASE)
bronze_pattern = re.compile(r'(\d+)B', re.IGNORECASE)

# Iterate through each row
for index, row in athlete_cleaned.iterrows():
    # Get the medals_won string for the current athlete
    medals_str = str(row['medals_won'])
    
    # Find the count of gold medals
    gold_count = 0
    gold_match = gold_pattern.search(medals_str)
    if gold_match:
        gold_count = int(gold_match.group(1))
    
    # Find the count of silver medals
    silver_count = 0
    silver_match = silver_pattern.search(medals_str)
    if silver_match:
        silver_count = int(silver_match.group(1))
    
    # Find the count of bronze medals
    bronze_count = 0
    bronze_match = bronze_pattern.search(medals_str)
    if bronze_match:
        bronze_count = int(bronze_match.group(1))
    
    # Update the corresponding columns
    athlete_cleaned.at[index, 'gold_medals'] = gold_count
    athlete_cleaned.at[index, 'silver_medals'] = silver_count
    athlete_cleaned.at[index, 'bronze_medals'] = bronze_count

athlete_cleaned.head(20)

,athlete_url,first_name,last_name,games_participations,medals_won,first_olympics,athlete_YOB,gold_medals,silver_medals,bronze_medals
0,https://olympics.com/en/athletes/cooper-woods-topalovic,Cooper,Woods-Topalovic,1,NaN,Beijing 2022,2000,0.0,0.0,0.0
1,https://olympics.com/en/athletes/elofsson,Felix,Elofsson,2,NaN,PyeongChang 2018,1995,0.0,0.0,0.0
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan,Walczyk,1,NaN,Beijing 2022,1993,0.0,0.0,0.0
3,https://olympics.com/en/athletes/olli-penttala,Olli,Penttala,1,NaN,Beijing 2022,1995,0.0,0.0,0.0
4,https://olympics.com/en/athletes/reikherd,Dmitriy,Reikherd,1,NaN,Beijing 2022,1989,0.0,0.0,0.0
5,https://olympics.com/en/athletes/matt-graham,Matt,Graham,3,1S,Sochi 2014,1994,0.0,1.0,0.0
6,https://olympics.com/en/athletes/ikuma-horishima,Ikuma,Horishima,2,1B,PyeongChang 2018,1997,0.0,0.0,1.0
7,https://olympics.com/en/athletes/daichi-hara,Daichi,Hara,2,1B,PyeongChang 2018,1997,0.0,0.0,1.0
8,https://olympics.com/en/athletes/laurent-dumais,Laurent,Dumais,1,NaN,Beijing 2022,1996,0.0,0.0,0.0
9,https://olympics.com/en/athletes/james-matheson,James,Matheson,2,NaN,PyeongChang 2018,1995,0.0,0.0,0.0
10,https://olympics.com/en/athletes/pavel-kolmakov,Pavel,Kolmakov,3,NaN,Sochi 2014,1996,0.0,0.0,0.0
11,https://olympics.com/en/athletes/kosuke-sugimoto,Kosuke,Sugimoto,1,NaN,Beijing 2022,1994,0.0,0.0,0.0
12,https://olympics.com/en/athletes/brodie-summers,Brodie,Summers,3,NaN,Sochi 2014,1993,0.0,0.0,0.0
13,https://olympics.com/en/athletes/severi-vierela,Severi,Vierela,1,NaN,Beijing 2022,2001,0.0,0.0,0.0
14,https://olympics.com/en/athletes/marco-tade,Marco,Tade,1,NaN,Beijing 2022,1995,0.0,0.0,0.0
15,https://olympics.com/en/athletes/william-feneley,William,Feneley,1,NaN,Beijing 2022,1999,0.0,0.0,0.0
16,https://olympics.com/en/athletes/mikael-kingsbury,Mikael,Kingsbury,3,1G2S,Sochi 2014,1992,1.0,2.0,0.0
17,https://olympics.com/en/athletes/so-matsuda,So,Matsuda,1,NaN,Beijing 2022,1999,0.0,0.0,0.0
18,https://olympics.com/en/athletes/wallberg,Walter,Wallberg,2,1G,PyeongChang 2018,2000,1.0,0.0,0.0
19,https://olympics.com/en/athletes/bradley-wilson,Bradley,Wilson,3,NaN,Sochi 2014,1992,0.0,0.0,0.0

In [15]:
# Remove decimals in the medals columns 
athlete_cleaned[['gold_medals', 
                 'silver_medals', 
                 'bronze_medals']] = athlete_cleaned[['gold_medals', 
                                                      'silver_medals', 
                                                      'bronze_medals']].astype(int)
athlete_cleaned.head(10)

,athlete_url,first_name,last_name,games_participations,medals_won,first_olympics,athlete_YOB,gold_medals,silver_medals,bronze_medals
0,https://olympics.com/en/athletes/cooper-woods-topalovic,Cooper,Woods-Topalovic,1,NaN,Beijing 2022,2000,0,0,0
1,https://olympics.com/en/athletes/elofsson,Felix,Elofsson,2,NaN,PyeongChang 2018,1995,0,0,0
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan,Walczyk,1,NaN,Beijing 2022,1993,0,0,0
3,https://olympics.com/en/athletes/olli-penttala,Olli,Penttala,1,NaN,Beijing 2022,1995,0,0,0
4,https://olympics.com/en/athletes/reikherd,Dmitriy,Reikherd,1,NaN,Beijing 2022,1989,0,0,0
5,https://olympics.com/en/athletes/matt-graham,Matt,Graham,3,1S,Sochi 2014,1994,0,1,0
6,https://olympics.com/en/athletes/ikuma-horishima,Ikuma,Horishima,2,1B,PyeongChang 2018,1997,0,0,1
7,https://olympics.com/en/athletes/daichi-hara,Daichi,Hara,2,1B,PyeongChang 2018,1997,0,0,1
8,https://olympics.com/en/athletes/laurent-dumais,Laurent,Dumais,1,NaN,Beijing 2022,1996,0,0,0
9,https://olympics.com/en/athletes/james-matheson,James,Matheson,2,NaN,PyeongChang 2018,1995,0,0,0

In [16]:
# Filter for Michael Phelps 
michael_phelps_data = athlete_cleaned[(athlete_cleaned['first_name'] == 'Michael') & (athlete_cleaned['last_name'] == 'Phelps')]

# Print to ensure its picking up his medals properly
michael_phelps_data

,athlete_url,first_name,last_name,games_participations,medals_won,first_olympics,athlete_YOB,gold_medals,silver_medals,bronze_medals
11547,https://olympics.com/en/athletes/michael-phelps-ii,Michael,Phelps,5,23G3S2B,Sydney 2000,1985,23,3,2

In [17]:
# Drop the original medals_won column
athlete_cleaned.drop(columns=['medals_won'], inplace=True)
athlete_cleaned.head(1)

,athlete_url,first_name,last_name,games_participations,first_olympics,athlete_YOB,gold_medals,silver_medals,bronze_medals
0,https://olympics.com/en/athletes/cooper-woods-topalovic,Cooper,Woods-Topalovic,1,Beijing 2022,2000,0,0,0

In [18]:
# Create the final order of the columns
athlete_cleaned = athlete_cleaned[['athlete_url', 'first_name', 'last_name',
                                   'games_participations', 'gold_medals', 'silver_medals',
                                   'bronze_medals', 'first_olympics', 'athlete_YOB'
                                  ]]
athlete_cleaned.head(1)

,athlete_url,first_name,last_name,games_participations,gold_medals,silver_medals,bronze_medals,first_olympics,athlete_YOB
0,https://olympics.com/en/athletes/cooper-woods-topalovic,Cooper,Woods-Topalovic,1,0,0,0,Beijing 2022,2000

In [20]:
# Drop duplicates based on the "athlete_url" column
athlete_cleaned.drop_duplicates(subset='athlete_url', keep='first', inplace=True)

In [21]:
#Format first_olympics to match the format of game_slug in hosts table
athlete_cleaned['first_olympics'] = athlete_cleaned['first_olympics'].replace(r' ', '-', regex=True)
athlete_cleaned['first_olympics'] = athlete_cleaned['first_olympics'].replace(r"'", '-', regex=True)
athlete_cleaned['first_olympics'] = athlete_cleaned['first_olympics'].replace(r'/.', '', regex=True)
athlete_cleaned['first_olympics'] = athlete_cleaned['first_olympics'].str.lower()
athlete_cleaned

,athlete_url,first_name,last_name,games_participations,gold_medals,silver_medals,bronze_medals,first_olympics,athlete_YOB
0,https://olympics.com/en/athletes/cooper-woods-topalovic,Cooper,Woods-Topalovic,1,0,0,0,beijing-2022,2000
1,https://olympics.com/en/athletes/elofsson,Felix,Elofsson,2,0,0,0,pyeongchang-2018,1995
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan,Walczyk,1,0,0,0,beijing-2022,1993
3,https://olympics.com/en/athletes/olli-penttala,Olli,Penttala,1,0,0,0,beijing-2022,1995
4,https://olympics.com/en/athletes/reikherd,Dmitriy,Reikherd,1,0,0,0,beijing-2022,1989
...,...,...,...,...,...,...,...,...,...
75899,https://olympics.com/en/athletes/douglas-weigle,Douglas,Weigle,1,0,0,0,innsbruck-1976,1955
75900,https://olympics.com/en/athletes/stefania-bertele,Stefania,Bertele,1,0,0,0,innsbruck-1976,1957
75901,https://olympics.com/en/athletes/walter-cecconi,Walter,Cecconi,1,0,0,0,innsbruck-1976,1957
75902,https://olympics.com/en/athletes/susan-kelley,Susan,Kelley,1,0,0,0,innsbruck-1976,1954
75903,https://olympics.com/en/athletes/andrew-stroukoff,Andrew,Stroukoff,1,0,0,0,innsbruck-1976,1960

In [22]:
# Export the DataFrame as a CSV file.
athlete_cleaned.to_csv("cleaned_olympic_athletes.csv", index=False)