In [1]:
# Import dependencies
import pandas as pd
import numpy as np
from pathlib import Path
pd.set_option('max_colwidth', 400)

### Extract the olympic_athletes.xlsm Data

In [2]:
# Store filepaths into variables 
olympic_athletes_to_load = Path("olympic_athletes.csv")

# Read Olympic Hosts Data File and store into a Pandas DataFrame
athlete_data = pd.read_csv(olympic_athletes_to_load)
athlete_data.head(10)

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio
0,https://olympics.com/en/athletes/cooper-woods-topalovic,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0,NaN,NaN
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995.0,NaN,NaN
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993.0,NaN,NaN
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995.0,NaN,NaN
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989.0,NaN,NaN
5,https://olympics.com/en/athletes/matt-graham,Matt GRAHAM,3,Sochi 2014,1994.0,\n\n\n1\n\nS\n\n,NaN
6,https://olympics.com/en/athletes/ikuma-horishima,Ikuma HORISHIMA,2,PyeongChang 2018,1997.0,\n\n\n1\n\nB\n\n,NaN
7,https://olympics.com/en/athletes/daichi-hara,Daichi HARA,2,PyeongChang 2018,1997.0,\n\n\n1\n\nB\n\n,NaN
8,https://olympics.com/en/athletes/laurent-dumais,Laurent DUMAIS,1,Beijing 2022,1996.0,NaN,NaN
9,https://olympics.com/en/athletes/james-matheson,James MATHESON,2,PyeongChang 2018,1995.0,NaN,NaN

In [3]:
# Get a brief summary of the athlete_data DataFrame.
athlete_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75904 entries, 0 to 75903
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   athlete_url           75904 non-null  object
 1   athlete_full_name     75904 non-null  object
 2   games_participations  75904 non-null  int64
 3   first_game            75882 non-null  object
 4   athlete_year_birth    73448 non-null  float64
 5   athlete_medals        15352 non-null  object
 6   bio                   22842 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 4.1+ MB

In [4]:
# Assign the athlete_full_name values to first_name and last_name columns. 
athlete_data[['first_name', 'last_name']] = athlete_data ["athlete_full_name"].str.split(' ', n=1, expand=True)
athlete_data.head()

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio,first_name,last_name
0,https://olympics.com/en/athletes/cooper-woods-topalovic,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0,NaN,NaN,Cooper,WOODS-TOPALOVIC
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995.0,NaN,NaN,Felix,ELOFSSON
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993.0,NaN,NaN,Dylan,WALCZYK
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995.0,NaN,NaN,Olli,PENTTALA
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989.0,NaN,NaN,Dmitriy,REIKHERD

In [5]:
# Convert last names to lower case
athlete_data['last_name'] = athlete_data['last_name'].str.lower()
athlete_data.head()

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio,first_name,last_name
0,https://olympics.com/en/athletes/cooper-woods-topalovic,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0,NaN,NaN,Cooper,woods-topalovic
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995.0,NaN,NaN,Felix,elofsson
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993.0,NaN,NaN,Dylan,walczyk
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995.0,NaN,NaN,Olli,penttala
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989.0,NaN,NaN,Dmitriy,reikherd

In [6]:
# Capitalize the first letter of each last name 
athlete_data['last_name'] = athlete_data['last_name'].apply(lambda x: x.capitalize())
athlete_data.head()

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio,first_name,last_name
0,https://olympics.com/en/athletes/cooper-woods-topalovic,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0,NaN,NaN,Cooper,Woods-topalovic
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995.0,NaN,NaN,Felix,Elofsson
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993.0,NaN,NaN,Dylan,Walczyk
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995.0,NaN,NaN,Olli,Penttala
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989.0,NaN,NaN,Dmitriy,Reikherd

In [7]:
# Create function to capitalize first letter of hyphenated names
def capitalize_last_name(last_name):
    # Split hyphenated last names
    parts = last_name.split('-')
    # Capitalize the first letter of each part
    capitalized_parts = [part.capitalize() for part in parts]
    # Join the parts back together with hyphens
    capitalized_last_name = '-'.join(capitalized_parts)
    return capitalized_last_name

# Apply the custom function to capitalize last names
athlete_data['last_name'] = athlete_data['last_name'].apply(capitalize_last_name)

# Print the first few rows to verify the result
athlete_data.head()

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio,first_name,last_name
0,https://olympics.com/en/athletes/cooper-woods-topalovic,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0,NaN,NaN,Cooper,Woods-Topalovic
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995.0,NaN,NaN,Felix,Elofsson
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993.0,NaN,NaN,Dylan,Walczyk
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995.0,NaN,NaN,Olli,Penttala
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989.0,NaN,NaN,Dmitriy,Reikherd

In [8]:
# Fill missing values in athlete_year_birth column with a placeholder (-1)
athlete_data['athlete_year_birth'] = athlete_data['athlete_year_birth'].fillna(-1)

# Convert the athlete_year_birth column to integer type
athlete_data['athlete_year_birth'] = athlete_data['athlete_year_birth'].astype(int)

# Print the first few rows to verify the result
athlete_data.head()

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio,first_name,last_name
0,https://olympics.com/en/athletes/cooper-woods-topalovic,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000,NaN,NaN,Cooper,Woods-Topalovic
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995,NaN,NaN,Felix,Elofsson
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993,NaN,NaN,Dylan,Walczyk
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995,NaN,NaN,Olli,Penttala
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989,NaN,NaN,Dmitriy,Reikherd

In [9]:
# Get the athlete_data columns for visibility
athlete_data.columns

Index(['athlete_url', 'athlete_full_name', 'games_participations',
       'first_game', 'athlete_year_birth', 'athlete_medals', 'bio',
       'first_name', 'last_name'],
      dtype='object')

In [10]:
# Drop unwanted columns  
athlete_cleaned = athlete_data.drop(['athlete_full_name', 'bio'], axis=1)
athlete_cleaned.head()

,athlete_url,games_participations,first_game,athlete_year_birth,athlete_medals,first_name,last_name
0,https://olympics.com/en/athletes/cooper-woods-topalovic,1,Beijing 2022,2000,NaN,Cooper,Woods-Topalovic
1,https://olympics.com/en/athletes/elofsson,2,PyeongChang 2018,1995,NaN,Felix,Elofsson
2,https://olympics.com/en/athletes/dylan-walczyk,1,Beijing 2022,1993,NaN,Dylan,Walczyk
3,https://olympics.com/en/athletes/olli-penttala,1,Beijing 2022,1995,NaN,Olli,Penttala
4,https://olympics.com/en/athletes/reikherd,1,Beijing 2022,1989,NaN,Dmitriy,Reikherd

In [11]:
# Reorder the columns
athlete_cleaned = athlete_cleaned[['athlete_url', 'first_name', 'last_name', 'games_participations', 
                                   'athlete_medals', 'first_game', 'athlete_year_birth'
                                  ]]
athlete_cleaned.head()

,athlete_url,first_name,last_name,games_participations,athlete_medals,first_game,athlete_year_birth
0,https://olympics.com/en/athletes/cooper-woods-topalovic,Cooper,Woods-Topalovic,1,NaN,Beijing 2022,2000
1,https://olympics.com/en/athletes/elofsson,Felix,Elofsson,2,NaN,PyeongChang 2018,1995
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan,Walczyk,1,NaN,Beijing 2022,1993
3,https://olympics.com/en/athletes/olli-penttala,Olli,Penttala,1,NaN,Beijing 2022,1995
4,https://olympics.com/en/athletes/reikherd,Dmitriy,Reikherd,1,NaN,Beijing 2022,1989

In [12]:
# Rename columns
athlete_cleaned.rename(columns={'first_game': 'first_olympics',
                                'athlete_medals': 'medals_won',
                                'athlete_year_birth': 'athlete_YOB'}, inplace=True)
athlete_cleaned.head(10)

,athlete_url,first_name,last_name,games_participations,medals_won,first_olympics,athlete_YOB
0,https://olympics.com/en/athletes/cooper-woods-topalovic,Cooper,Woods-Topalovic,1,NaN,Beijing 2022,2000
1,https://olympics.com/en/athletes/elofsson,Felix,Elofsson,2,NaN,PyeongChang 2018,1995
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan,Walczyk,1,NaN,Beijing 2022,1993
3,https://olympics.com/en/athletes/olli-penttala,Olli,Penttala,1,NaN,Beijing 2022,1995
4,https://olympics.com/en/athletes/reikherd,Dmitriy,Reikherd,1,NaN,Beijing 2022,1989
5,https://olympics.com/en/athletes/matt-graham,Matt,Graham,3,\n\n\n1\n\nS\n\n,Sochi 2014,1994
6,https://olympics.com/en/athletes/ikuma-horishima,Ikuma,Horishima,2,\n\n\n1\n\nB\n\n,PyeongChang 2018,1997
7,https://olympics.com/en/athletes/daichi-hara,Daichi,Hara,2,\n\n\n1\n\nB\n\n,PyeongChang 2018,1997
8,https://olympics.com/en/athletes/laurent-dumais,Laurent,Dumais,1,NaN,Beijing 2022,1996
9,https://olympics.com/en/athletes/james-matheson,James,Matheson,2,NaN,PyeongChang 2018,1995

In [13]:
# Use RegEx to fix the medals_won column format
import re

# Sample data
athlete_cleaned['medals_won'] = athlete_cleaned['medals_won'].replace(r'\n', '', regex=True)

# Define regular expressions to extract counts of gold, silver, and bronze medals
gold_pattern = re.compile(r'(\d+)G', re.IGNORECASE)
silver_pattern = re.compile(r'(\d+)S', re.IGNORECASE)
bronze_pattern = re.compile(r'(\d+)B', re.IGNORECASE)

# Iterate through each row
for index, row in athlete_cleaned.iterrows():
    # Get the medals_won string for the current athlete
    medals_str = str(row['medals_won'])
    
    # Find the count of gold medals
    gold_count = 0
    gold_match = gold_pattern.search(medals_str)
    if gold_match:
        gold_count = int(gold_match.group(1))
    
    # Find the count of silver medals
    silver_count = 0
    silver_match = silver_pattern.search(medals_str)
    if silver_match:
        silver_count = int(silver_match.group(1))
    
    # Find the count of bronze medals
    bronze_count = 0
    bronze_match = bronze_pattern.search(medals_str)
    if bronze_match:
        bronze_count = int(bronze_match.group(1))
    
    # Update the corresponding columns
    athlete_cleaned.at[index, 'gold_medals'] = gold_count
    athlete_cleaned.at[index, 'silver_medals'] = silver_count
    athlete_cleaned.at[index, 'bronze_medals'] = bronze_count

athlete_cleaned.head(20)

,athlete_url,first_name,last_name,games_participations,medals_won,first_olympics,athlete_YOB,gold_medals,silver_medals,bronze_medals
0,https://olympics.com/en/athletes/cooper-woods-topalovic,Cooper,Woods-Topalovic,1,NaN,Beijing 2022,2000,0.0,0.0,0.0
1,https://olympics.com/en/athletes/elofsson,Felix,Elofsson,2,NaN,PyeongChang 2018,1995,0.0,0.0,0.0
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan,Walczyk,1,NaN,Beijing 2022,1993,0.0,0.0,0.0
3,https://olympics.com/en/athletes/olli-penttala,Olli,Penttala,1,NaN,Beijing 2022,1995,0.0,0.0,0.0
4,https://olympics.com/en/athletes/reikherd,Dmitriy,Reikherd,1,NaN,Beijing 2022,1989,0.0,0.0,0.0
5,https://olympics.com/en/athletes/matt-graham,Matt,Graham,3,1S,Sochi 2014,1994,0.0,1.0,0.0
6,https://olympics.com/en/athletes/ikuma-horishima,Ikuma,Horishima,2,1B,PyeongChang 2018,1997,0.0,0.0,1.0
7,https://olympics.com/en/athletes/daichi-hara,Daichi,Hara,2,1B,PyeongChang 2018,1997,0.0,0.0,1.0
8,https://olympics.com/en/athletes/laurent-dumais,Laurent,Dumais,1,NaN,Beijing 2022,1996,0.0,0.0,0.0
9,https://olympics.com/en/athletes/james-matheson,James,Matheson,2,NaN,PyeongChang 2018,1995,0.0,0.0,0.0
10,https://olympics.com/en/athletes/pavel-kolmakov,Pavel,Kolmakov,3,NaN,Sochi 2014,1996,0.0,0.0,0.0
11,https://olympics.com/en/athletes/kosuke-sugimoto,Kosuke,Sugimoto,1,NaN,Beijing 2022,1994,0.0,0.0,0.0
12,https://olympics.com/en/athletes/brodie-summers,Brodie,Summers,3,NaN,Sochi 2014,1993,0.0,0.0,0.0
13,https://olympics.com/en/athletes/severi-vierela,Severi,Vierela,1,NaN,Beijing 2022,2001,0.0,0.0,0.0
14,https://olympics.com/en/athletes/marco-tade,Marco,Tade,1,NaN,Beijing 2022,1995,0.0,0.0,0.0
15,https://olympics.com/en/athletes/william-feneley,William,Feneley,1,NaN,Beijing 2022,1999,0.0,0.0,0.0
16,https://olympics.com/en/athletes/mikael-kingsbury,Mikael,Kingsbury,3,1G2S,Sochi 2014,1992,1.0,2.0,0.0
17,https://olympics.com/en/athletes/so-matsuda,So,Matsuda,1,NaN,Beijing 2022,1999,0.0,0.0,0.0
18,https://olympics.com/en/athletes/wallberg,Walter,Wallberg,2,1G,PyeongChang 2018,2000,1.0,0.0,0.0
19,https://olympics.com/en/athletes/bradley-wilson,Bradley,Wilson,3,NaN,Sochi 2014,1992,0.0,0.0,0.0

In [14]:
# Remove decimals in the medals columns 
athlete_cleaned[['gold_medals', 
                 'silver_medals', 
                 'bronze_medals']] = athlete_cleaned[['gold_medals', 
                                                      'silver_medals', 
                                                      'bronze_medals']].astype(int)
athlete_cleaned.head(10)

,athlete_url,first_name,last_name,games_participations,medals_won,first_olympics,athlete_YOB,gold_medals,silver_medals,bronze_medals
0,https://olympics.com/en/athletes/cooper-woods-topalovic,Cooper,Woods-Topalovic,1,NaN,Beijing 2022,2000,0,0,0
1,https://olympics.com/en/athletes/elofsson,Felix,Elofsson,2,NaN,PyeongChang 2018,1995,0,0,0
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan,Walczyk,1,NaN,Beijing 2022,1993,0,0,0
3,https://olympics.com/en/athletes/olli-penttala,Olli,Penttala,1,NaN,Beijing 2022,1995,0,0,0
4,https://olympics.com/en/athletes/reikherd,Dmitriy,Reikherd,1,NaN,Beijing 2022,1989,0,0,0
5,https://olympics.com/en/athletes/matt-graham,Matt,Graham,3,1S,Sochi 2014,1994,0,1,0
6,https://olympics.com/en/athletes/ikuma-horishima,Ikuma,Horishima,2,1B,PyeongChang 2018,1997,0,0,1
7,https://olympics.com/en/athletes/daichi-hara,Daichi,Hara,2,1B,PyeongChang 2018,1997,0,0,1
8,https://olympics.com/en/athletes/laurent-dumais,Laurent,Dumais,1,NaN,Beijing 2022,1996,0,0,0
9,https://olympics.com/en/athletes/james-matheson,James,Matheson,2,NaN,PyeongChang 2018,1995,0,0,0

In [15]:
# Filter for Michael Phelps 
michael_phelps_data = athlete_cleaned[(athlete_cleaned['first_name'] == 'Michael') & (athlete_cleaned['last_name'] == 'Phelps')]

# Print to ensure its picking up his medals properly
michael_phelps_data

,athlete_url,first_name,last_name,games_participations,medals_won,first_olympics,athlete_YOB,gold_medals,silver_medals,bronze_medals
11547,https://olympics.com/en/athletes/michael-phelps-ii,Michael,Phelps,5,23G3S2B,Sydney 2000,1985,23,3,2

In [16]:
# Drop the original medals_won column
athlete_cleaned.drop(columns=['medals_won'], inplace=True)
athlete_cleaned.head(1)

,athlete_url,first_name,last_name,games_participations,first_olympics,athlete_YOB,gold_medals,silver_medals,bronze_medals
0,https://olympics.com/en/athletes/cooper-woods-topalovic,Cooper,Woods-Topalovic,1,Beijing 2022,2000,0,0,0

In [17]:
# Create the final order of the columns
athlete_cleaned = athlete_cleaned[['athlete_url', 'first_name', 'last_name',
                                   'games_participations', 'gold_medals', 'silver_medals',
                                   'bronze_medals', 'first_olympics', 'athlete_YOB'
                                  ]]
athlete_cleaned.head(1)

,athlete_url,first_name,last_name,games_participations,gold_medals,silver_medals,bronze_medals,first_olympics,athlete_YOB
0,https://olympics.com/en/athletes/cooper-woods-topalovic,Cooper,Woods-Topalovic,1,0,0,0,Beijing 2022,2000

In [18]:
# Export the DataFrame as a CSV file.
athlete_cleaned.to_csv("cleaned_olympic_athletes.csv", index=False)